@import url(https://fonts.googleapis.com/css?family=Montserrat);
html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

html {
    position: relative;
    background: #FF4E50;
    background: -webkit-linear-gradient(right, #FF4E50, #F9D423);
    background: linear-gradient(to left, #FF4E50, #F9D423);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    overflow: hidden;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.helper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.helper.active {
    opacity: 1;
}

.title {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 80px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.title a {
    color: #fff;
    text-transform: none;
    text-decoration: none;
    font-size: 50px;
    letter-spacing: 0;
}